In [21]:
import psycopg2
import os

# Define your connection parameters
conn = psycopg2.connect(
    host='data-pipeline-database.cb6kq4q2mitd.eu-west-2.rds.amazonaws.com',
    port=5432,
    user='abdul',
    password=os.getenv("password"),
    database='data_pipeline_db'
)

# Create a cursor object
cur = conn.cursor()

# Execute a simple query
cur.execute("SELECT version();")

# Fetch and print the result of the query
db_version = cur.fetchone()
print(f"Database version: {db_version}")

# Close the cursor and the connection
cur.close()
conn.close()

Database version: ('PostgreSQL 16.3 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-12), 64-bit',)

In [22]:
# Define your connection parameters
conn = psycopg2.connect(
    host='data-pipeline-database.cb6kq4q2mitd.eu-west-2.rds.amazonaws.com',
    port=5432,
    user='abdul',
    password=os.getenv("password"),
    database='data_pipeline_db'
)

# Create a cursor object
cur = conn.cursor()

In [23]:
# Define the query to get all tables in the public schema
query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
"""

# Execute the query
cur.execute(query)

# Fetch all results
tables = cur.fetchall()

In [24]:
tables

[('dummy_dag',)]

In [25]:
cur.execute("SELECT * FROM dummy_dag;")

In [26]:
cur.fetchall()

[(1,
  'Testing',
  1,
  'animal',
  datetime.datetime(2024, 8, 4, 15, 53, 14, 323350)),
 (2, 'Testing', 1, 'animal', datetime.datetime(2024, 8, 4, 16, 15, 1, 139814)),
 (3,
  'Testing',
  1,
  'animal',
  datetime.datetime(2024, 8, 4, 16, 19, 51, 809403)),
 (4,
  'Testing',
  1,
  'animal',
  datetime.datetime(2024, 8, 4, 16, 20, 34, 230813)),
 (5,
  'Testing',
  1,
  'animal',
  datetime.datetime(2024, 8, 4, 16, 42, 24, 297374)),
 (6,
  'Testing',
  1,
  'animal',
  datetime.datetime(2024, 8, 4, 16, 51, 50, 458153))]

In [27]:
import pandas as pd
df = pd.read_sql_query('SELECT * FROM dummy_dag;', conn)

/tmp/ipykernel_176847/2286552843.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('SELECT * FROM dummy_dag;', conn)

In [28]:
df

   id  column1  column2 column3    scraping_execution_date
0   1  Testing        1  animal 2024-08-04 15:53:14.323350
1   2  Testing        1  animal 2024-08-04 16:15:01.139814
2   3  Testing        1  animal 2024-08-04 16:19:51.809403
3   4  Testing        1  animal 2024-08-04 16:20:34.230813
4   5  Testing        1  animal 2024-08-04 16:42:24.297374
5   6  Testing        1  animal 2024-08-04 16:51:50.458153

In [31]:
query = """
select * from dummy_dag
"""

# Execute the query
cur.execute(query)
cur.fetchall()

UndefinedTable: relation "dummy_dag" does not exist
LINE 2: select * from dummy_dag
                      ^

In [30]:
# Define the query to get all tables in the public schema
query = """
drop table if exists dummy_dag
"""

# Execute the query
cur.execute(query)

ProgrammingError: no results to fetch

In [20]:
# Close the cursor and the connection
cur.close()
conn.close()